<div class="main-content">
  <div class="container-fluid">
    <button class="btn btn-succes btn-round" (click)="displayaddpers()">
      Ajouter un personnel
    </button>

    <div *ngIf="this.addpers" class="main-content">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Ajouter un personnel</h4>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <input type="text" id="nom" name="nomP" class="form-control" required
                      [(ngModel)]="this.personnel.nom" />
                    <label class="form-control-placeholder" for="nom">
                      Nom *
                    </label>
                  </div>
                  <div class="col-md-4 mb-3">
                    <input type="text" id="prenom" name="prenomP" class="form-control" required
                      [(ngModel)]="this.personnel.prenom" />
                    <label class="form-control-placeholder" for="prenom">
                      Prenom *
                    </label>
                  </div>
                  <div class="col-md-4 mb-3">
                    <input type="text" id="prenom" name="nom_Ar" class="form-control" required
                      [(ngModel)]="this.personnel.nom_Ar" />
                    <label class="form-control-placeholder" for="Nom en Ar">
                      Nom en Ar *
                    </label>
                  </div>
                  <div class="col-md-4 mb-3">
                    <input type="text" id="prenom" name="prenom_AR" class="form-control" required
                      [(ngModel)]="this.personnel.prenom_AR" />
                    <label class="form-control-placeholder" for="Nom en Ar">
                      Prenom en Ar *
                    </label>
                  </div>
                  <div class="col-md-4 mb-3">
                    <input type="radio" id="male" name="gender" value="homme" [(ngModel)]="this.personnel.sexe" />
                    <label for="male">Homme</label>
                    <br />
                    <input type="radio" id="female" name="gender" value="femme" [(ngModel)]="this.personnel.sexe" />
                    <label for="female">Femme</label>
                  </div>
                  <br />
                  <div class="col-md-4 mb-3">
                    <mat-form-field>
                      <mat-label>Date de naissance *</mat-label>
                      <input matInput [matDatepicker]="picker" ngDefaultControl
                        [(ngModel)]="this.personnel.date_Naissance" [ngModelOptions]="{ standalone: true }">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>

                    </mat-form-field>
                  </div>
                  <div class="col-md-4 mb-3">
                    <input type="text" id="prenom" name="Adresse" class="form-control" required
                      [(ngModel)]="this.personnel.Adresse" />
                    <label class="form-control-placeholder" for="Adresse">
                      Adresse *
                    </label>
                  </div>


                </div>
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <input type="tel" id="tél" name="telP" class="form-control" required
                      [(ngModel)]="this.personnel.telephone" required minlength="8" maxlength="8" />
                    <label class="form-control-placeholder" for="tél">
                      Téléphone *
                    </label>
                  </div>
                  <div class="col-md-4 mb-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Email *</mat-label>
                      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                        [(ngModel)]="this.personnel.email" placeholder="Ex. ex@example.com">
                      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        S'il vous plaît, mettez une adresse email valide !!
                      </mat-error>
                      <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email est <strong> obligatoire</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4 mb-3">
                    <mat-form-field>
                      <mat-label>Date de recrutement *</mat-label>
                      <input matInput [matDatepicker]="picker1" ngDefaultControl
                        [(ngModel)]="this.personnel.date_recrutement" [ngModelOptions]="{ standalone: true }">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>

                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <input type="tel" id="tél" name="matricule" class="form-control" required
                    [(ngModel)]="this.personnel.matricule" required minlength="8" maxlength="8" />
                  <label class="form-control-placeholder" for="matricule">
                    Cin *
                  </label>
                </div>
                <div class="col-md-4 mb-3">
                  <input type="tel" id="tél" name="matricule_CNSS" class="form-control" required
                    [(ngModel)]="this.personnel.matricule_CNSS" required minlength="8" maxlength="8" />
                  <label class="form-control-placeholder" for="matricule_CNSS">
                    matricule_CNSS *
                  </label>
                </div>
                <div class="col-md-4 mb-3">
                  <input type="tel" id="tél" name="matricule_CNRPS" class="form-control" required
                    [(ngModel)]="this.personnel.matricule_CNRPS" required minlength="8" maxlength="8" />
                  <label class="form-control-placeholder" for="matricule_CNRPS">
                    matricule_CNRPS *
                  </label>
                </div>
                <div class="col-md-4 mb-3">
                  <mat-form-field>
                    <mat-label>Date de promotion *</mat-label>
                    <input matInput [matDatepicker]="picker2" ngDefaultControl
                      [(ngModel)]="this.personnel.date_Promotion" [ngModelOptions]="{ standalone: true }">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>

                  </mat-form-field>
                </div>
                <div class="col-md-4 mb-3">
                  <input type="text" id="poste_Occupe" name="poste_Occupe" class="form-control" required
                    [(ngModel)]="this.personnel.poste_Occupe" />
                  <label class="form-control-placeholder" for="poste_Occupe">
                    Poste Occupe *
                  </label>
                </div>
                <div class="col-md-4 mb-3">
                  <input type="tel" id="tél" name="soldeRepos" class="form-control" required
                    [(ngModel)]="this.personnel.soldeRepos" required minlength="8" maxlength="8" />
                  <label class="form-control-placeholder" for="soldeRepos">
                    Solde initial de congé *
                  </label>
                </div>
                <div class="card-body">
                  <form>
                    <mat-form-field class="spacing">
                      <mat-label>Grade</mat-label>
                      <mat-select name="Grade" [(ngModel)]="this.personnel.grade.id_grade" ngDefaultControl>
                        <mat-option *ngFor="let item of this.grades" [value]="item.id_grade" ngDefaultControl>
                          {{ item.nom_grade_fr }} {{ item.categorie_grade_fr }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </form>
                </div>
                <div class="card-body">
                  <form>
                    <mat-form-field class="spacing">
                      <mat-label>Affectation</mat-label>
                      <mat-select name="sites" [(ngModel)]="this.personnel.affectation.affectation_id" ngDefaultControl>
                        <mat-option *ngFor="let item of this.sites" [value]="item.affectation_id" ngDefaultControl>
                          {{ item.nom_etablissement_fr }} {{ item.nom_etablissement_ar }} {{item.nomSite}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </form>
                </div>
                <div class="card-body">
                  <form>
                    <mat-form-field class="spacing">
                      <mat-label>Structure</mat-label>
                      <mat-select name="departement" [(ngModel)]="this.gouvselecter">
                        <mat-option *ngFor="let item of this.departement" [value]="item.id_dept"
                          (selectionChange)="onOptionsSelected()">
                          {{ item.nom_dept }} {{ item.nom_dept }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </form>
                </div>
                <div class="card-body">
                  <form>
                    <mat-form-field class="spacing">
                      <mat-label>Foncion</mat-label>
                      <mat-select name="Fonction" [(ngModel)]="this.personnel.fonction.id_fonction" ngDefaultControl>
                        <mat-option *ngFor="let item of this.fonction" [value]="item.id_fonction" ngDefaultControl>
                          {{ item.fonction }} {{ item.fonction }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </form>
                </div>
                <div class="card-body">
                  <form>
                    <mat-form-field class="spacing">
                      <mat-label>Division</mat-label>
                      <mat-select name="Division" [(ngModel)]="this.personnel.division.id_division" ngDefaultControl>
                        <mat-option *ngFor="let item of this.divisions" [value]="item.id_division" ngDefaultControl>
                          {{ item.nom_divisionFr }} {{ item.nom_divisionAr }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </form>
                </div>
                <p>(*):champs obligatoire </p>
              </form>
            </div>
            <div class="row">
              <div class="add ml-auto mr-auto">
                <button (click)="add()" type="submit" class="btn btn-success btn-round">
                  Ajouter
                </button>
                <button class="btn btn-danger btn-round" (click)="cancel()">
                  Annuler
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Liste des personnels</h4>
          </div>

          <ag-grid-angular style="width: 1218px; height: 500px;" class="ag-theme-material" [rowData]="rowData"
            [columnDefs]="columnDefs" [modules]="modules" (rowSelected)="getId($event)"
            (cellValueChanged)="edit($event)" [rowSelection]="'multiple'" rowMultiSelectWithClick="true"
            [pagination]="true" [paginationAutoPageSize]="true"></ag-grid-angular>
          <div class="add ml-auto mr-auto">
            <button class="btn btn-danger btn-round" (click)="delete()">
              Supprimer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>