<form>
    <center>
        <br>
        <br>
        <br>
        <br>
        <h2>Une fois vous avez cliqué sur le bouton Transférer
        </h2>
        <H2> le solde repos de l'année courante serez transférée vers l'année dernière, et de l'année dernière vers la
            précédente</H2>
    </center>
    <div style="margin-top: 10%;">
        <div class="row">
            <div class="add ml-auto mr-auto">
                <button (click)="add()" type="submit" class="btn btn-success btn-round">
                    Transférer
                </button>

            </div>
        </div>
    </div>