<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Ajouter un site</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4 mb-3">
                  <input type="text" id="name" name="nom" class="form-control" ngDefaultControl
                    [(ngModel)]="this.site.nomSite" />
                  <label class="form-control-placeholder" for="name">
                    Nom Site*
                  </label>
                </div>
                <div>
                  <mat-form-field class="spacing">
                    <mat-label>Gouvernorat</mat-label>
                    <mat-select name="gouvernorat" [(ngModel)]="this.site.gouvernorat.idGouvernorat" ngDefaultControl>
                      <mat-option *ngFor="let item of this.gouvernorats" [value]="item.idGouv">
                        {{ item.nomGouv }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <input type="text" id="nom_etablissement_fr" name="nom_etablissement_fr" class="form-control"
                  ngDefaultControl [(ngModel)]="this.site.nom_etablissement_fr" />
                <label class="form-control-placeholder" for="name">
                  Nom_etablissement_fr*
                </label>
              </div>
              <div class="col-md-4 mb-3">
                <input type="text" id="nom_etablissement_ar" name="nom_etablissement_ar" class="form-control"
                  ngDefaultControl [(ngModel)]="this.site.nom_etablissement_ar" />
                <label class="form-control-placeholder" for="name">
                  Nom_etablissement_ar*
                </label>
              </div>
              <div class="col-md-4 mb-3">
                <input type="text" id="nature_etablissement_fr" name="nature_etablissement_fr" class="form-control"
                  ngDefaultControl [(ngModel)]="this.site.nature_etablissement_fr" />
                <label class="form-control-placeholder" for="name">
                  Nature_etablissement_fr*
                </label>
              </div>
              <div class="col-md-4 mb-3">
                <input type="text" id="nature_etablissement_ar" name="nature_etablissement_ar" class="form-control"
                  ngDefaultControl [(ngModel)]="this.site.nature_etablissement_ar" />
                <label class="form-control-placeholder" for="name">
                  Nature_etablissement_ar*
                </label>
              </div>
              <div class="col-md-4 mb-3">
                <input type="text" id="qualite_direction_fr" name="qualite_direction_fr" class="form-control"
                  ngDefaultControl [(ngModel)]="this.site.qualite_direction_fr" />
                <label class="form-control-placeholder" for="name">
                  Qualite_direction_fr*
                </label>
              </div>
              <div class="col-md-4 mb-3">
                <input type="text" id="qualite_direction_ar" name="qualite_direction_ar" class="form-control"
                  ngDefaultControl [(ngModel)]="this.site.qualite_direction_ar" />
                <label class="form-control-placeholder" for="name">
                  Qualite_direction_ar*
                </label>
              </div>

              <div class="row">
                <div class="add ml-auto mr-auto">
                  <button (click)="add()" class="btn btn-success btn-round">
                    Ajouter
                  </button>
                  <button class="btn btn-danger btn-round" (click)="cancel()">
                    Annuler
                  </button>
                </div>
              </div>
              <p>(*):champs obligatoire</p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Liste des sites</h4>
          </div>
          <ag-grid-angular style="width: 1400px; height: 600px;" class="ag-theme-material" [rowData]="rowData"
            [columnDefs]="columnDefs" [modules]="modules" (rowSelected)="getId($event)"
            (cellValueChanged)="edit($event)" [rowSelection]="'multiple'" rowMultiSelectWithClick="true"
            [pagination]="true" [paginationAutoPageSize]="true" [localeText]="this.localeText"></ag-grid-angular>
          <div class="add ml-auto mr-auto">
            <button class="btn btn-danger btn-round" (click)="delete()">
              Supprimer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>