<div class="main-content">
    <div class="container-fluid">
        <div class="main-content">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Ajouter Conge</h4>
                        </div>
                        <div class="card-body">
                            <form>

                                <!--(ngSubmit)="submitForm()" novalidate <div *ngFor="let item of this.personnels; let i=index">
                                    <label>
                                        <input type="checkbox" [value]="item.id_personnel"
                                            [(ngModel)]="this.conge.personnel.personnel_id"
                                            (change)="onCheckboxChange($event)"
                                            [ngModelOptions]="{ standalone: true }" />
                                        {{ item.nom }} {{ item.prenom }}
                                    </label>
                                </div>-->


                                <mat-form-field class="spacing">
                                    <mat-label>Personnel</mat-label>
                                    <mat-select name="personnel" [(ngModel)]="this.conge.personnel.personnel_id"
                                        (selectionChange)="onOptionsSelected2()">
                                        <mat-option *ngFor="let item of this.personnels" [value]="item.id_personnel"
                                            ngDefaultControl>
                                            {{ item.nom }} {{ item.prenom }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <mat-form-field>
                                            <mat-label>Date de debut *</mat-label>
                                            <input matInput [matDatepicker]="picker" ngDefaultControl
                                                [(ngModel)]="this.conge.datedebut"
                                                [ngModelOptions]="{ standalone: true }">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>

                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4 mb-3" *ngIf="this.etat=== true">
                                        <label class="form-control-placeholder" for="nbJours">
                                            NombreDeJours *
                                        </label>
                                        <input id="nbJour" name="nbJour" class="form-control" required
                                            [(ngModel)]="this.conge.numDeJour" />
                                    </div>
                                    <div class="col-md-4 mb-3" *ngIf="this.etat=== false">
                                        <label class="form-control-placeholder">
                                            NombreDeMois*
                                        </label>
                                        <input id="numDeMois" name="numDeMois" class="form-control" required
                                            [(ngModel)]="this.conge.numDeMois" />
                                    </div>
                                    <div class="col-md-4 mb-3" *ngIf="this.etat=== 'other' ">

                                    </div>


                                </div>
                                <div class="col-md-4 mb-3">
                                    <mat-form-field class="spacing">
                                        <mat-label>TypeConge </mat-label>
                                        <mat-select name="TypeConge" [(ngModel)]="this.conge.typedeconge"
                                            (selectionChange)="onOptionsSelected($event)">
                                            <mat-option value="conge_repos">
                                                CongeRepos
                                            </mat-option>
                                            <mat-option value="conge_compensation">
                                                CongeCompensation
                                            </mat-option>
                                            <mat-option value="conge_exceptionnel">
                                                CongeExceptionnel
                                            </mat-option>
                                            <mat-option value="conge_maladie">
                                                CongeMaladie
                                            </mat-option>
                                            <mat-option value="conge_maladie_longue_duree">
                                                CongeMaladielongueDuree </mat-option>
                                            <mat-option value="conge_post_natal">
                                                CongéPostNatal
                                            </mat-option>
                                            <mat-option value="conge_maternite">
                                                CongéMaternité
                                            </mat-option>
                                            <mat-option value="conge_sans_solde">
                                                Congésanssolde
                                            </mat-option>
                                            <mat-option value="mise_a_pied">
                                                Miseàpied
                                            </mat-option>
                                            <mat-option value="detachement">
                                                Détachement
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                                <fieldset>

                                    <label>Solde de l’année {{today }}:</label> {{this.personnel["soldeRepos"]}}
                                    jours<br>
                                    <label>Solde de l’année {{today-1}} :</label>
                                    {{this.personnel["soldeRepos"]}}jours<br>
                                    <label>Solde récupéré {{this.personnel["soldeReposN_1"]}} :</label>
                                    {{personnel.soldeReposN_2}}
                                    jours<br>
                                </fieldset>
                            </form>
                        </div>
                        <div class="add ml-auto mr-auto">
                            <button (click)="add()" class="btn btn-success btn-round">
                                Ajouter
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Liste Demande Conge En attente</h4>
                        </div>

                        <ag-grid-angular style="width: 1300px; height: 500px;" class="ag-theme-material"
                            [rowData]="rowData" [columnDefs]="columnDefs" [modules]="modules"
                            (rowSelected)="getId($event)" (cellValueChanged)="edit($event)" [rowSelection]="'multiple'"
                            rowMultiSelectWithClick="true" [pagination]="true" [paginationAutoPageSize]="true">
                        </ag-grid-angular>
                        <div class="add ml-auto mr-auto">
                            <button class="btn btn-success btn-round" (click)=" AccepterConge()">
                                Accepter
                            </button>
                            <button class="btn btn-danger btn-round" (click)="RefuserConge()">
                                Refuser
                            </button>
                            <button class="btn btn-danger btn-round" (click)="delete()">
                                Supprimer
                            </button>
                            <button class="btn btn-danger btn-round" (click)="ajouterAnuulationConge()">
                                Anuller
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Liste Demande Conge Accepté</h4>
                        </div>

                        <ag-grid-angular style="width: 1300px; height: 500px;" class="ag-theme-material"
                            [rowData]="rowData2" [columnDefs]="columnDefs2" [modules]="modules"
                            (rowSelected)="getId($event)" (cellValueChanged)="edit($event)" [rowSelection]="'multiple'"
                            rowMultiSelectWithClick="true" [pagination]="true" [paginationAutoPageSize]="true">
                        </ag-grid-angular>
                        <div class="add ml-auto mr-auto">
                            <button class="btn btn-danger btn-round" (click)="delete()">
                                Supprimer
                            </button>
                            <button class="btn btn-danger btn-round" (click)="ajouterAnuulationConge()">
                                Anuller
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Liste Demande Annulation Conge</h4>
                        </div>

                        <ag-grid-angular style="width: 800px; height: 500px;" class="ag-theme-material"
                            [rowData]="rowData1" [columnDefs]="columnAnnulationConge" [modules]="modules"
                            (rowSelected)="getIdA($event)" (cellValueChanged)="edit($event)" [rowSelection]="'multiple'"
                            rowMultiSelectWithClick="true" [pagination]="true" [paginationAutoPageSize]="true">
                        </ag-grid-angular>
                        <div class="add ml-auto mr-auto">
                            <button class="btn btn-success btn-round" (click)=" AccepterAConge()">
                                Accepter
                            </button>
                            <button class="btn btn-danger btn-round" (click)="RefusererAConge()">
                                Refuser
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>