<p>solde-compensation works!</p>
<div class="main-content">
    <div class="container-fluid">
        <div class="main-content">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Consulter Solde Conge</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <mat-form-field class="spacing">
                                    <mat-label>Personnel</mat-label>
                                    <mat-select name="personnel" [(ngModel)]="perselecter"
                                        (selectionChange)="onOptionsSelected()">
                                        <mat-option *ngFor="let item of this.personnels" [value]="item.id_personnel">
                                            {{ item.nom }} {{ item.prenom }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <fieldset>

                                    <label>Solde de Compensation :</label> {{personnel.soldeCompensation}} jours<br>
                                    <label>Nom personnel :</label> {{personnel.nom}} <br>
                                    <label>Prenom personnel :</label> {{personnel.prenom}} <br>
                                    <label>Nom Arabe:</label> {{personnel.nom_AR}} <br>
                                    <label>Prenom Arabe:</label> {{personnel.prenom_AR}} <br>
                                    <input id="SoldecompensationA" name="SoldecompensationA" class="form-control"
                                        required [(ngModel)]="this.SoldecompensationA" />
                                </fieldset>
                                <div class="row">
                                    <div class="add ml-auto mr-auto">
                                        <button (click)="add()" type="submit" class="btn btn-success btn-round">
                                            Ajouter Solde
                                        </button>

                                    </div>
                                </div>

                            </form>