<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Ajouter un grade</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4 mb-3">
                  <input type="text" id="name" name="nom_grade_fr" class="form-control" required
                    [(ngModel)]="this.grade.nom_grade_fr" />
                  <div class="invalid-feedback">
                    Veuillez inserer le nom du grade.
                  </div>
                  <label class="form-control-placeholder" for="name">
                    Nom du grade en Fr*
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 mb-3">
                  <input type="text" id="name" name="nom_grade_ar" class="form-control" required
                    [(ngModel)]="this.grade.nom_grade_ar" />
                  <div class="invalid-feedback">
                    Veuillez inserer le nom en arabe du grade.
                  </div>
                  <label class="form-control-placeholder" for="name">
                    Nom du grade en Ar*
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 mb-3">
                  <input type="text" id="name" name="categorie_grade_fr" class="form-control" required
                    [(ngModel)]="this.grade.categorie_grade_fr" />
                  <div class="invalid-feedback">
                    Veuillez inserer le categorie du grade en Fr.
                  </div>
                  <label class="form-control-placeholder" for="name">
                    Categorie du grade en Fr*
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 mb-3">
                  <input type="text" id="name" name="categorie_grade_ar" class="form-control" required
                    [(ngModel)]="this.grade.categorie_grade_ar" />
                  <div class="invalid-feedback">
                    Veuillez inserer le categorie du grade en Ar.
                  </div>
                  <label class="form-control-placeholder" for="name">
                    Categorie du grade en Ar*
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="add ml-auto mr-auto">
                  <button (click)="add()" class="btn btn-success btn-round">
                    Ajouter
                  </button>
                  <button class="btn btn-danger btn-round" (click)="cancel()">
                    Annuler
                  </button>
                </div>
              </div>
              <p>(*):champs obligatoire</p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Liste des grades</h4>
          </div>
          <ag-grid-angular style="width: 1000px; height: 400px;" class="ag-theme-material" [rowData]="rowData"
            [columnDefs]="columnDefs" [modules]="modules" (rowSelected)="getId($event)"
            (cellValueChanged)="edit($event)" [rowSelection]="'multiple'" rowMultiSelectWithClick="true"
            [pagination]="true" [paginationAutoPageSize]="true" [localeText]="this.localeText"></ag-grid-angular>
          <div class="add ml-auto mr-auto">
            <button class="btn btn-danger btn-round" (click)="delete()">
              Supprimer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>